<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="margin: 0;">
  <div style="background-color: blue;text-align: center;">succeed</div>
  <a style="text-decoration: none;color: white;" href="/logout"><button style="background: #222;display:block;padding: 10px 20px; border-radius: 5px;margin: 20px  0 0 20px;">logout</d></a>
</body>
</html>